<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      QSO Services Settings
    </ion-card-header>

    <ion-list *ngIf="loggingServices">
      <button ion-item *ngFor="let loggingService of loggingServices" (click)="itemTapped($event, loggingService)">
        <ion-icon name="settings" item-left></ion-icon>
        {{loggingService.name}}
      </button>
    </ion-list>
  </ion-card>
</ion-content>
